@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<h2 class="display-5">Lista de Contatos</h2>
<br />
<div class="container" id="tabela">
    <div>
        <a role="button" class="btn btn-outline-light" type="button" asp-controller="Lista" asp-action="Criar">Adicionar Contato</a>
    </div>
    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.ContatoId</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Cpf</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-success" asp-controller="Lista" asp-action="Editar" asp-route-id="@contato.ContatoId">Editar</a>
                                <a role="button" class="btn btn-danger" asp-controller="Lista" asp-action="Apagar" asp-route-id="@contato.ContatoId">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>